<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->

<%-  include('./partials/head.ejs') %>

<body>
    <main>
        <div>
            <img class="aspirando" src="./images/diegote.jpg" alt="Diego-pizza">
        </div>

        <section class="carrito de compras">
            <h2>CARRITO DE COMPRAS</h2>
            <div class="items">
                <h3>PRODUCTO</h3>
                <h3>CANTIDAD</h3>
                <h3>PRECIO</h3>
                <h3>SUB-TOTAL</h3>
            </div>
            <form>
                <label></label>
                <button type="reset">Borrar</button>

            </form>

        </section>
        <!-- HOLA MUNDO -->

    </main>

    <!-- FOOTER  -->

    <%-  include('./partials/footer.ejs') %>
    
</body>
</html>