<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Formulario de edición'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<div>
		<div>
			<div class = "title-container">
				<h2 clas = "title-form-product" >Formulario de edición de productos</h2>
			</div>
		</div><br><br>
		<div>
			<form id= "form-edit" class = "form-form" action="/products/:id/edit?_method=POST" method="POST">
				<%- include('partials/productForm') %>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>