<!DOCTYPE html>
<head>
    <title>Pizzería El Diegote</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <link href="/css/styles.css"
    rel="stylesheet">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link 
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" 
    rel="stylesheet">
</head>

<body>
    <header>
        <section id="set-address-container">
            <p id="set-address-text">Dirección de entrega: </p>
            <a id="set-address-link">Ingresar mi ubicación</a>
        </section>

        <section>
             <img id="logo-header" src="./images/el-diegote-logo.png">
        </section>
        
        <section id="search-and-icons-container">
            <form id="search-bar-container">
            <input id="input-search" type="search" placeholder="Ingrese su pizza favorita">
            <button id="button-search" type="submit"><i class="fas fa-search"></i></button>
         </form>
         <nav><ul>
            <li><a href="sign-in"><i class=" fas fa-sign-in-alt"></i></a></li>
            <li><a href="shopping-cart"><i class=" fas fa-shopping-cart"></i></a></li>
         </ul></nav>
        </section>
    </header>

    <footer>
    
    </footer>
</body>