<!DOCTYPE html>
<head>
    <title>Pizzería El Diegote</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <link href="/css/styles.css"
    rel="stylesheet">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link 
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" 
    rel="stylesheet">
</head>

<body style="overflow-x: hidden;">
    <header>
        <section id="set-address-container">
            <p id="set-address-text">Dirección de entrega: </p>
            <a id="set-address-link">Ingresar mi ubicación</a>
        </section>

        <section>
             <img id="logo-header" src="./images/el-diegote-logo.png">
        </section>
        
        <section id="search-container">
            <form id="search-bar-container">
            <input id="input-search" type="search" placeholder="Ingrese su pizza favorita">
            <button id="button-search" type="submit"><i class="fas fa-search"></i></button>
         </form>
        </section>

        <section id="nav-header-container">
            <nav><ul>
                <li><a href="login"><i class=" fas fa-sign-in-alt"></i></a></li>
                <li><a href="shopping-cart"><i class=" fas fa-shopping-cart"></i></a></li>
             </ul></nav>
        </section>
    </header>

    <section class="banner">
        <img src="images/diego-banner.png" alt="Banner de ofertas">
    </section>

    <main>

        <section class="combos">
            <h3>MEGA OFERTAS</h3>
            <article>
                <img src="images/muzzarella.jpg" alt="Pizza de Muzzarella" class="product_img">
                <div class="main-article">
                    <div class="pizzaIco">
                        <i class="fas fa-pizza-slice"></i>
                    </div>
                    <p class="price">$220</p>
                    <p class="discount">40% off</p>
                    <h4 class="description">Muzzarela</h4>
                </div>
            </article>
            <article>
                <img src="images/jamonYMorrones.jpg" alt="Pizza de Jamon y Morrones" class="product_img">
                <div class="main-article">
                    <div class="pizzaIco">
                        <i class="fas fa-pizza-slice"></i>
                    </div>
                    <p class="price">$240</p>
                    <p class="discount">20% off</p>
                    <h4 class="description">Jamon Y Morron</h4>
                </div>
            </article>
            <article>
                <img src="images/fugazzeta.jpg" alt="Pizza de fugazzeta" class="product_img">
                <div class="main-article">
                    <div class="pizzaIco">
                        <i class="fas fa-pizza-slice"></i>
                    </div>
                    <p class="price">$270</p>
                    <p class="discount">10% off</p>
                    <h4 class="description">Fugazzeta</h4>
                </div>
            </article>
            <article>
                <img src="images/napolitana.jpg" alt="Pizza napolitana" class="product_img">
                <div class="main-article">
                    <div class="pizzaIco">
                        <i class="fas fa-pizza-slice"></i>
                    </div>
                    <p class="price">$230</p>
                    <p class="discount">10% off</p>
                    <h4 class="description">Napolitana</h4>
                </div>
            </article>
        </section>

        <section class="combos">
            <h3>Combos</h3>
            <article>
                <img src="images/muzzarella.jpg" alt="Pizza de Muzzarella" class="product_img">
                <div class="main-article">
                    <div class="pizzaIco">
                        <i class="fas fa-pizza-slice"></i>
                    </div>
                    <p class="price">$220</p>
                    <p class="discount">40% off</p>
                    <h4 class="description">Muzzarela</h4>
                </div>
            </article>
            <article>
                <img src="images/jamonYMorrones.jpg" alt="Pizza de Jamon y Morrones" class="product_img">
                <div class="main-article">
                    <div class="pizzaIco">
                        <i class="fas fa-pizza-slice"></i>
                    </div>
                    <p class="price">$240</p>
                    <p class="discount">20% off</p>
                    <h4 class="description">Jamon Y Morron</h4>
                </div>
            </article>
            <article>
                <img src="images/fugazzeta.jpg" alt="Pizza de fugazzeta" class="product_img">
                <div class="main-article">
                    <div class="pizzaIco">
                        <i class="fas fa-pizza-slice"></i>
                    </div>
                    <p class="price">$270</p>
                    <p class="discount">10% off</p>
                    <h4 class="description">Fugazzeta</h4>
                </div>
            </article>
            <article>
                <img src="images/napolitana.jpg" alt="Pizza napolitana" class="product_img">
                <div class="main-article">
                    <div class="pizzaIco">
                        <i class="fas fa-pizza-slice"></i>
                    </div>
                    <p class="price">$230</p>
                    <p class="discount">10% off</p>
                    <h4 class="description">Napolitana</h4>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <div>
            <section id="left-footer">
                <p class ="item-footer" id="address-footer">Scalabrini Ortiz 3294</p>
                <p class ="item-footer"id="location-footer">Ciudad Autónoma de Buenos Aires, Argentina.</p>
                <p class ="item-footer"id="copyright-footer">© 2021 Pizzería "El Diegote". Todos los derechos reservados.</p>
            </section>
    
            <section id="right-footer">
                <p class ="item-footer"id="phone-footer">(011) 4453-3982</p>
                <p class ="item-footer"id="schedule-footer">Abierto todos los días de 7:30 a 2 de la mañana.</p>
                <nav class ="item-footer" id="nav-social-media-footer"><ul>
                    <li><a href="#"><img class="social-media-logo" src="./images/whatsapp.png"></a></li>
                    <li><a href="#"><img class="social-media-logo" src="./images/facebook.png"></a></li>
                 </ul></nav>
            </section>
        </div>
    </footer>
</body>
