<!DOCTYPE html>
<head>
    <title>Pizzería El Diegote</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <link href="/css/styles.css"
    rel="stylesheet">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link 
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" 
    rel="stylesheet">
</head>

<body style="overflow-x: hidden;">
    <header>
        <section id="set-address-container">
            <p id="set-address-text">Dirección de entrega: </p>
            <a id="set-address-link">Ingresar mi ubicación</a>
        </section>

        <section>
             <img id="logo-header" src="./images/el-diegote-logo.png">
        </section>
        
        <section id="search-container">
            <form id="search-bar-container">
            <input id="input-search" type="search" placeholder="Ingrese su pizza favorita">
            <button id="button-search" type="submit"><i class="fas fa-search"></i></button>
         </form>
        </section>

        <section id="nav-header-container">
            <nav><ul>
                <li><a href="login"><i class=" fas fa-sign-in-alt"></i></a></li>
                <li><a href="shopping-cart"><i class=" fas fa-shopping-cart"></i></a></li>
             </ul></nav>
        </section>
    </header>

    <footer>
        <div>
            <section id="left-footer">
                <p id="address-footer">Scalabrini Ortiz 3294</p>
                <p id="location-footer">Ciudad Autónoma de Buenos Aires, Argentina.</p>
                <p id="copyright-footer">© 2021 Pizzería "El Diegote". Todos los derechos reservados.</p>
            </section>
    
            <section id="right-footer">
                <p id="phone-footer">(011) 4453-3982</p>
                <p id="schedule-footer">Abierto todos los días de 7:30 a 2 de la mañana.</p>
                <nav id="nav-social-media-footer"><ul>
                    <li><a href="#"><img class="social-media-logo" src="./images/whatsapp.png"></a></li>
                    <li><a href="#"><img class="social-media-logo" src="./images/facebook.png"></a></li>
                 </ul></nav>
            </section>
        </div>
    </footer>
</body>