<!DOCTYPE html>
<html>
    <head>
        <title>Pizza Paradoniana</title>
        <link href="css/stile.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/5dec0788b2.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="linksHeader">
                <ul class="firstNav">
                    <li> <a href="#">Ofertas</a></li>
                    <li> <a href="#">Tiendas Oficiales</a></li>
                    <li> <a href="#">Vender</a></li>
                    <li> <a href="#">Ayuda</a></li>
                </ul>
                <ul class="secundNav">
                    <li> <a href="/register">Crea tu cuenta <i class="fas fa-shopping-basket"></i></a></li>
                    <li> <a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                    <li> <a href="/kart">Mi Pedido <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </header>
    </body>

</html>