<!DOCTYPE html>
<head>
    <title>Pizzería El Diegote</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <link href="/css/styles.css"
    rel="stylesheet">
    <link 
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" 
    rel="stylesheet">
</head>

<body style="overflow-x: hidden;">
    <main>
        <section class="form-desktop-view" id="login-desktop-view">

            <section><img class="form-decorative-image" id="login-decorative-image"
                src="./images/diego-mirando-copa.jpg"></section>

            <form id="login-form" class="form-form" action="/result-login" method="POST">
                <img id="el-diegote-logo" src="./images/el-diegote-logo.png">
                <a  class="form-title" id="title-login">Iniciar sesión</a><br><br>

                <section id="user-data-container-login">
                    <label for="username-login"></label><br>
                    <input class="user-data-input" type="name" id="input-username"name="username"
                     placeholder="Nombre de usuario" required minlength="8"><br><br>

                    <label for="password-login"></label>
                    <input  class="user-data-input"  type="password" id="input-password" name="password"
                     placeholder="Ingresa tu contraseña" required minlength="8">
                </section><br>

                <section>
                        <label id="remember-user-container" for="remember-user">
                            <input type="checkbox" id="checkbox-remember-user" value="remember-user">
                            Recordar usuario en este dispositivo</label><br>
   
                       <button class="button-submit" id="button-submit-login"
                        type="submit">Iniciar sesión</button><br><br>
   
                       <div class="questions-container">
                           <div class="div-question">
                           <p class="text-div-question">Ha olvidado su contraseña?</a>
                           <a href="#" class="text-link-div-question">Haga click aquí</a>
                           </div>
   
                       <div class="div-question">
                           <p class="text-div-question">No tiene cuenta?</a>
                           <a href="register" class="text-link-div-question">Cree una</a>
                       </div> 
                       </div>
                </section>
            </form>
        </section>
    </main>

      <footer>
        <div>
            <section id="left-footer">
                <p class ="item-footer" id="address-footer">Scalabrini Ortiz 3294</p>
                <p class ="item-footer"id="location-footer">Ciudad Autónoma de Buenos Aires, Argentina.</p>
                <p class ="item-footer"id="copyright-footer">© 2021 Pizzería "El Diegote". Todos los derechos reservados.</p>
            </section>
    
            <section id="right-footer">
                <p class ="item-footer"id="phone-footer">(011) 4453-3982</p>
                <nav class ="item-footer" id="nav-social-media-footer"><ul>
                    <li><a href="#"><img class="social-media-logo" src="./images/whatsapp.png"></a></li>
                    <li><a href="#"><img class="social-media-logo" src="./images/facebook.png"></a></li>
                 </ul></nav>
            </section>
        </div>
    </footer>
</body>