<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria "El Diegote" - Detalle del Producto</title>

    <link rel="stylesheet" href="/css/detalleCSS.css">
</head>
<body>
    <header>
        <section id="set-address-container">
            <p id="set-address-text">Dirección de entrega: </p>
            <a id="set-address-link">Ingresar mi ubicación</a>
        </section>

        <section>
             <img id="logo-header" src="./images/el-diegote-logo.png">
        </section>
        
        <section id="search-container">
            <form id="search-bar-container">
            <input id="input-search" type="search" placeholder="Ingrese su pizza favorita">
            <button id="button-search" type="submit"><i class="fas fa-search"></i></button>
         </form>
        </section>
        <section id="nav-header-container">
            <nav><ul>
                <li><a href="login"><i class=" fas fa-sign-in-alt"></i></a></li>
                <li><a href="shopping-cart"><i class=" fas fa-shopping-cart"></i></a></li>
             </ul></nav>
        </section>
    </header>

    
    <main> 
        
        <div class="masterContainer"> 
            <div class="container">
                <div class="box">Pizza 1</div> 
                <div class="box">Pizza 2</div>
                <div class="box">Pizza 3</div>
                <div class="box">Pizza 4</div>
            </div>
            <div class="mainBox">
                <img class="img" src= "Aca va imagen de la pizza mas grande" alt= "la foto principal">
            </div>
            <div class="container1">
                <p class="detailProduct">Nombre de Pizza</p>
                <p class="detailProduct">Precio</p>
                <p class="detailProduct">Tamano</p>
                <div class="container2">
                    <div class="box1">Pequena</div>
                    <div class="box1">Mediana</div>
                    <div class="box1">Grande</div>
                    
                </div>
                
                <button type="submit">COMPRAR</button>
                <button type="submit">CHATEA CON NOSOTROS</button>
                <div class="subBox1">
                    <p>Detalle Total del producto --- Detalle total del producto --- Detalle total del producto</p>
                </div>

                <p class="detailProduct">Opcionales</p>
                <div class="container3">
                    <div class="box1">Opcion 1</div>
                    <div class="box1">Opcion 2</div>
                    <div class="box1">Opcion 3</div>

            </div>
        
    </main>
    <br><br>
    





</body>
</html>
