<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" 
    rel="stylesheet">
    <title>Pizzería El Diegote</title>

    <link rel="stylesheet" href="./css/carrito.css">
</head>
<body>
    <main>
        <div>
            <img class="aspirando" src="./images/diegote.jpg" alt="Diego-pizza">
        </div>

        <section class="carrito de compras">
            <h2>CARRITO DE COMPRAS</h2>
            <div class="items">
                <h3>PRODUCTO</h3>
                <h3>CANTIDAD</h3>
                <h3>PRECIO</h3>
                <h3>SUB-TOTAL</h3>
            </div>
            <form>
                <label></label>
                <button type="reset">Borrar</button>

            </form>

        </section>
        <!-- HOLA MUNDO -->

    </main>
    <footer>

    </footer>    
</body>
</html>