*{
    margin: 0px;
    padding: 0px;
    /* color: red; */
}

div .aspirando{
    display: inline-block;
    height: 220px;
    width: 100%;
}

div .aspirando img{
    display: inline-block;
}

body {
    font-family: 'Roboto', sans-serif;
}
.h2-carrito{
    color: #666;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
}
div.items{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ebebeb;
}
.items .h3-carrito{
    display: flex;
    color: #33C4FF;
    font-size: 20px;
}

form .carrito{
    display: flex;
    justify-content: end;
}
