*{
    margin: 0px;
    padding: 0px;
    /* color: red; */
}

div .aspirando{
    display: inline-block;
    height: 220px;
    width: 100%;
    /* margin: auto; */
    /* padding: auto; */
}
div .aspirando img{
    display: inline-block;
    /* width: 100%; */
}
body {
    /* background-color: #ebebeb; */
    /* background-color: #eac926; */
    font-family: 'Roboto', sans-serif;
}
h2{
    color: #666;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
}
div.items{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.items h3{
    display: flex;
    color: #33C4FF;
    font-size: 20px;
}

form{
    display: flex;
    justify-content: end;
}


/* 
footer{
    border-top: 2px solid #ebebeb;
} */