*{
    box-sizing:border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    margin-top: 10px;
}

/*  Header  */

header{
    padding: 15px;
    display: flex;
    width: 100%;
    min-width: 250px;
    height: 90px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
header section{
    width: 50%;
}
#logo-header{
    padding-top: 5px;
    height: 120px;
}
#set-address-link{
    color: lightskyblue;
    font-weight: 600;
    padding-left: 5px;
}
#set-address-container{
    display: none;
}
#input-search{
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px black solid;
    width: 175px;
}
#button-search{
    height: 30px;
    width: 30px;
    background-color: lightskyblue;
    color: white;
    border-color: transparent;
    border-radius: 5px;
    border: 1px solid black;
}
#button-search:hover{
    background-color: rgb(74, 175, 238);
}
#search-container{
    display: none;
}
#nav-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
nav ul li{
    margin-right: 20px;
}

/*  Footer  */

.social-media-logo{
    margin-top: 20px;
    width: 35px;
    border-radius: 5px;
}
#right-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#left-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
footer div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    position: relative;
}
footer{
    padding: 30px;
}
#address-footer{
    margin-bottom: 20px;
}

/*  Home  */

section.banner img{
    width: 100%;
    max-height: 450px;
    margin-top: 15px;
    margin-bottom: 15px;
    object-fit: cover ;
}
#products-home{
    display: flex;
    flex-direction: column;
}
.products-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: whitesmoke;
    padding: 10px;
    width: 100%;
}
article{
    width: 90%;
    max-width: 90%;
    height: 90%;
    min-width: 140px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.image{
    width: 100%;
    height: 200px;
}
article:hover{
    box-shadow: 0px 4px 10px rgb(100, 100, 100);
}
.list-title{
    margin: 40px;
    font-size: 26px;
    font-weight: 400;
}
.article-description{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-style: normal;
    color: black;
    text-decoration: none;
}
.price{
    margin-top: 10px;
}
.name{
    font-weight: 500;
}
/* Product Description */

#description-main{
    margin-top: 30px;
}
#description-div-container{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    max-width: 450px;
    align-items: center;
}
#image-section{
    width: 70%;
    text-align: center;
    margin-bottom: 30px;
}
#text-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    justify-content: start;
    text-align: center;
    align-self: center;
    width: 100%;
    max-width: 300px;
    min-width: 250px;
}
#details-section{
    border-bottom: 1px solid lightgray;
}
#buttons-section{
    border-top: 1px solid lightgray;
}
#options-section{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-input-description{
    margin-top: 5px;
    width: 200px;
    text-align: center;
    position: relative;
    right: 5%;
}
.form-label-description{
    font-size: 14px;
    font-weight: 500;
}
#description-image{
    height: 190px;
    width: 220px;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: auto;
}
.button-buy{
    background-color: green;
    border: green;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin-top: 25px;
    width: 60%;
}
.button-buy:hover{
    background-color: rgb(2, 109, 2);
}
#description-name{
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}
#description-price{
    margin-top: 10px;
}
#description-description{
    margin: 20px;
    font-style: italic;
    padding: 5px;
}
#button-add-to-cart{
    margin-bottom: 35px;
}

/*  Products Form  */

form h3{
    text-align: center;
    margin-top: 15px;
}
form div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    left: 5%;
}
.form-label{
    font-weight: bold;
}
.form-input{
    margin-top: 10px;
    padding-left: 5px;
    height: 25px;
}
#description{
    height: 50px;
}
#edit-form, #create-form{
    background-color: lightblue;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    border: solid 0.5px black;
    max-width: 500px;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.title-container{
    margin-top: 10px;
    text-align: center;
}
.button-save{
    height: 30px;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: 1px solid black;
    min-width: 60px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}
#button-cancel{
    background-color: red;
    width: 100%;
}
#button-cancel:hover{
    background-color: brown;
}
.product-form-cancel{
    width: 100%;
}
.button-save:hover{
    background-color: rgb(2, 109, 2);
}

/*  Users Form  */

.feedback-register{
    background-color: coral;
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#avatar-register-label, #avatar-register-input{
    position: relative;
    top: 25px;
}
#el-diegote-logo{
    width: 260px;
    display: flex;
    align-self: center;
}
.form-title{
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
}
.form-decorative-image{
    display: none;
}
.form-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.user-data-input{
    height: 35px; 
    width: 60%;
    border-radius: 5px;
    border: 2px lightblue solid;
    padding: 8px;
    min-width: 150px;
    max-width: 330px;
}
#checkbox-remember-user{
    width: 15px;
}
#remember-user-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button-submit{
    height: 40px;
    border-radius: 10px;
    background-color: green;
    color: white;
    border:  3px solid green;
    min-width: 60px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}
.questions-container{
    font-size: 12px;
}
.text-link-div-question{
    color: blue;
}
#reset-register{
    height: 30px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border:  1px solid red;
    min-width: 60px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}
#user-data-container-register{
    margin: 10px;

}
#user-data-container-register input{
    margin-top: 10px;
}
#terms-and-conditions-text{
    font-size: 12px;
    width: 180px;
    margin: auto;
}

.back-home{
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
}
/*  Admin  */

.a-admin{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-decoration: none;
}
.admin-button{
    background-color: green;
    color: white;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}
.admin-button:hover{
    background-color: rgb(2, 109, 2);
}
#delete-button{
    background-color: red;
}
#delete-button:hover{
    background-color:brown;
}
#edit-admin-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

/*  Icons  */

.fa-shopping-cart{
    color: black;
    background-color:lightskyblue;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid black;
}
.fa-sign-in-alt{
    color: black;
}
.fa-shopping-cart:hover{
    background-color: rgb(74, 175, 238);
}

@media(min-width: 361px){
    #description-div-container{
        width: 90%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        padding-top: 30px;
        padding-bottom: 20px;
    }
    #description-main{
        margin-top: 20px;
        padding: 30px;
        background-color: whitesmoke;
    }
    .image{
        height: 320px;
    }
    #description-image{
        height: 200px;
        width: 90%;
        min-width: 210px;
        position: relative;
        top: 15px;
    }
    #drink{
        width: 27%;
        height: 280px;
    }
}

@media(min-width: 601px){
    .form-desktop-view{
        display: flex;
        width: 100%;
        flex-direction: row;
        position: relative;
        bottom: 4px;
    }
    #search-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%;
    }
    header section{
        width: 35%;
    }
    #input-search{
        width: 240px;
    }
    #right-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    #left-footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        font-size: 12px;
    }
    footer div{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        position: relative;
    }
    article{
        width: 48%;
    }
    .image{
        height: 350px;
    }
    .products-list{
        justify-content: space-around;
    }
    #description-div-container{
        flex-direction: row-reverse;
        max-width: 750px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-top: 40px solid lightskyblue;
        border-bottom: 40px solid lightskyblue;
    }
    #description-image{
        width: 310px;
        height: 280px;
        position: relative;
        left: 20px;
    }
    #image-section{
        padding: 40px;
        margin-bottom: 0px;
        width: 50%;
    }
    #text-section{
        margin-right: 40px;
        margin-left: 60px;
    }
    #drink{
        width: 26%;
        height: auto;
    }
}

@media(min-width: 1075px){
    .form-title{
        margin-top: 10px;
    }
    .form-decorative-image{
        display:flex;
        object-fit: fill;
        width: 100%;
        position: relative;
        bottom: 10px;
    }
    #set-address-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:flex-start;
        font-size: 14px;
        position: relative;
    }
    article{
        width: 24%;
    }
    .image{
        height: 280px;
    }
    .products-list{
        justify-content: space-between;
    }
    #drink{
        width: 16%;
    }
}

@media(min-width: 1600px){
    .image{
        height: 340px;
    }
}
