*{
    box-sizing:border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#el-diegote-logo{
    width: 260px;
    display: flex;
    align-self: center;
}
.form-title{
    font-size: 28px;
    font-weight: bold;
}
.form-decorative-image{
    display: none;
}
.form-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.social-media-auth-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.social-media-auth{
    border-radius: 7.5px;
    height: 40px;
    padding: 5px;
    font-size: 15px;
    width: 60%;
    min-width: 200px;
    max-width: 330px;
    font-weight: 700;
}
.google-auth{
    border: 1.25px red solid;
    background-color: red;
    color: white;
}
.fb-auth{
    border: 1.25px blue solid;
    background-color: blue;
    color: white;
}
.apple-auth{
    border: 1.25px black solid;
    background-color: white;
}
.o-separador{
    text-align: center;
    font-size: 16px;
    font-style: italic;
}
.user-data-input{
    height: 35px; 
    width: 60%;
    border-radius: 5px;
    border: 2px lightblue solid;
    padding: 8px;
    min-width: 150px;
    max-width: 330px;
}
#checkbox-remember-user{
    width: 15px;
}
#remember-user-container{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button-submit{
    height: 40px;
    border-radius: 10px;
    background-color: green;
    color: white;
    border:  3px solid green;
    min-width: 60px;
    font-size: 15px;
    font-weight: 500;
}
.questions-container{
    font-size: 12px;
}
.text-link-div-question{
    color: blue;
}
#reset-register{
    height: 30px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border:  1px solid red;
    min-width: 60px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}
#user-data-container-register{
    margin: 10px;

}
#user-data-container-register input{
    margin-top: 10px;
}
#terms-and-conditions-text{
    font-size: 12px;
    width: 180px;
    margin: auto;
}
header{
    display: flex;
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
header section{
    width: 20%;
}
#logo-header{
    padding-top: 5px;
    height: 120px;
}
#set-address-link{
    color: lightskyblue;
    font-weight: 600;
    padding-left: 5px;
}
#set-address-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    font-size: 14px;
    position: relative;
    left: 2%
}
#input-search{
    height: 30px;
    border-radius: 5px;
    border: 1px black solid;
}
#button-search{
    height: 30px;
    background-color: lightskyblue;
    color: white;
    border-color: transparent;
    border-radius: 5px;
}
#search-and-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    right: 2%;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    margin-left:5px;
}
.fa-shopping-cart{
    color: black;
}
.fa-sign-in-alt{
    color: black;
}
@media(min-width: 769px){
    .form-desktop-view{
        display: flex;
        width: 100%;
        flex-direction: row;
        position: relative;
        bottom: 4px;
    }
}
@media(min-width: 1280px){
    .form-decorative-image{
        display:flex;
        object-fit: fill;
        width: 100%;
    }
}