<footer>
    <div>
        <section id="left-footer">
            <p id="schedule-footer">Abierto todos los días de 6 a 23 hs.</p>
            <p id="address-footer">Corrientes 1356, Ciudad Autónoma de Buenos Aires.</p>
            <p id="copyright-footer">© 2021 Pizzería "El Diegote". Todos los derechos reservados.</p>
        </section>

        <section id="right-footer">
            <nav id="nav-social-media-footer"><ul>
                <li><a href="#"><img class="social-media-logo" src="/images/whatsapp.png"></a></li>
                <li><a href="#"><img class="social-media-logo" src="/images/facebook.png"></a></li>
             </ul></nav>
        </section>
    </div>
</footer>