<header>
    <section id="set-address-container">
        <p id="set-address-text">Dirección de entrega: </p>
        <a id="set-address-link">Ingresar mi ubicación</a>
    </section>

    <section>
        <a href="/">
            <img id="logo-header" src="/images/el-diegote-logo.PNG">
        </a>
    </section>
    
    <section id="search-container">
        <form id="search-bar-container">
        <input id="input-search" type="search" placeholder="Ingrese su pizza favorita">
        <button id="button-search" type="submit"><i class="fas fa-search"></i></button>
     </form>
    </section>

    <section id="nav-header-container">
        <nav><ul>
            <li><a href="/login"><i class=" fas fa-sign-in-alt"></i></a></li>
            <li><a href="/shoppingCart"><i class=" fas fa-shopping-cart"></i></a></li>
         </ul></nav>
    </section>
</header>