<!DOCTYPE html>

<!-- HEAD  -->

<%-  include('./partials/head.ejs') %>

<body style="overflow-x: hidden;">

    <main>
        <section class="form-desktop-view" id="login-desktop-view">

            <section><img class="form-decorative-image" id="login-decorative-image"
                src=".\images\diego-mirando-copa.jpg"></section>

            <form id="login-form" class="form-form" action="/result-login" method="POST">

                <a class="back-home" href= "/"> <img id="el-diegote-logo" src="./images/el-diegote-logo.png">   </a>
                <p  class="form-title" id="title-login">Iniciar sesión</a><br><br>

                <section id="user-data-container-login">
                    <label for="username-login"></label><br>
                    <input class="user-data-input" type="name" id="input-username"name="username"
                     placeholder="Nombre de usuario" required minlength="8"><br><br>

                    <label for="password-login"></label>
                    <input  class="user-data-input"  type="password" id="input-password" name="password"
                     placeholder="Ingresa tu contraseña" required minlength="8">
                </section><br>

                <section>
                        <label id="remember-user-container" for="remember-user">
                            <input type="checkbox" id="checkbox-remember-user" value="remember-user">
                            Recordar usuario en este dispositivo</label><br>
   
                       <button class="button-submit" id="button-submit-login"
                        type="submit">Iniciar sesión</button><br><br>
   
                       <div class="questions-container">
                           <div class="div-question">
                           <p class="text-div-question">Ha olvidado su contraseña?</a>
                           <a href="#" class="text-link-div-question">Haga click aquí</a>
                           </div>
   
                       <div class="div-question">
                           <p class="text-div-question">No tiene cuenta?</a>
                           <a href="register" class="text-link-div-question">Cree una</a>
                       </div> 
                       </div>
                </section>
            </form>
        </section>
    </main>

    <%-  include('./partials/footer.ejs') %>

</body>